<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:repository="http://www.springframework.org/schema/data/repository"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="false">
    
    <!-- ##############主业务模块配置 Start############### -->
	<!-- JPA Entity Manager 配置, 设置depends-on="cacheManager"，确保共享模式下优先加载Spring CacheManager -->
	<bean id="entityManagerFactoryApp" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		depends-on="cacheManager">
		<property name="dataSource" ref="dataSourceApp" />
		<property name="persistenceUnitName" value="entityManagerFactoryApp" />
		<property name="persistenceUnitPostProcessors">
			<bean class="lab.s2jh.core.dao.jpa.ExtPersistenceUnitPostProcessor" />
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="packagesToScan">
			<list>
				<value>lab.s2jh.core.audit.envers</value>
				<value>lab.s2jh.module.**.entity</value>
				<value>s2jh.biz.**.entity</value>
			</list>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.DefaultNamingStrategy</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>

				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.region_prefix">hibernate</prop>
				<prop key="hibernate.cache.use_structured_entries">true</prop>

				<!-- EhCache -->
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
				<prop key="net.sf.ehcache.configurationResourceName">ehcache-config.xml</prop>

				<!-- Redis Cache 
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.redis.SingletonRedisRegionFactory</prop>
				<prop key="hibernate.cache.provider_configuration_file_resource_path">redis-config.properties</prop>
                -->

				<prop key="org.hibernate.envers.audit_table_prefix">AUD_</prop>
				<prop key="org.hibernate.envers.audit_table_suffix"></prop>
				<prop key="org.hibernate.envers.do_not_audit_optimistic_locking_field">false</prop>
				<prop key="org.hibernate.envers.global_with_modified_flag">true</prop>
			</props>
		</property>
	</bean>

	<!-- JPA 事务配置 -->
	<bean id="transactionManagerApp" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactoryApp" />
	</bean>

	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="transactionManagerApp" proxy-target-class="true" />

	<!-- Spring Data JPA配置 -->
	<jpa:repositories base-package="lab.s2jh.module.**.dao,s2jh.biz.**.dao" transaction-manager-ref="transactionManagerApp"
		entity-manager-factory-ref="entityManagerFactoryApp">
		<repository:exclude-filter type="regex" expression="lab.s2jh.core.*" />
	</jpa:repositories>
	<!-- ##############主业务模块配置 End############### -->

    
    <!-- ##############日志审计模块配置 Start############### -->
	<!-- JPA Entity Manager 配置, 设置depends-on="cacheManager"，确保共享模式下优先加载Spring CacheManager -->
	<bean id="entityManagerFactoryAud" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourceAud" />
		<property name="persistenceUnitName" value="entityManagerFactoryAud" />
		<property name="persistenceUnitPostProcessors">
			<bean class="lab.s2jh.core.dao.jpa.ExtPersistenceUnitPostProcessor" />
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="packagesToScan">
			<list>
				<value>lab.s2jh.aud.**.entity</value>
			</list>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.DefaultNamingStrategy</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<!-- JPA 事务配置 -->
	<bean id="transactionManagerAud" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactoryAud" />
	</bean>

	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="transactionManagerAud" proxy-target-class="true" />

	<!-- Spring Data JPA配置 -->
	<jpa:repositories base-package="lab.s2jh.aud.**.dao" transaction-manager-ref="transactionManagerAud"
		entity-manager-factory-ref="entityManagerFactoryAud">
		<repository:exclude-filter type="regex" expression="lab.s2jh.core.*" />
	</jpa:repositories>
	<!-- ##############日志审计模块配置 End############### -->
	
</beans>