<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property resource="jdbc.properties" />
	<property file="/j2ee/showcase/config/s2jh4net.properties" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{MM-dd HH:mm:ss.SSS} %-5level %19logger{19}[%line]- %msg %mdc %n</pattern>
		</encoder>
	</appender>

	<appender name="WEBOUT" class="com.github.alexvictoor.weblogback.BrowserConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss} %-5level [%-10thread] - %msg%n</pattern> <!-- Use whatever pattern you want -->
		</encoder>
		<port>${crawl_appender_netty_port}</port> <!-- Optional, this is the port on which the HTTP SSE server will listen. Default port is 8765 -->
		<active>true</active> <!-- Optional, if false the appender is disabled. Default value is true -->
		<buffer>1</buffer> <!-- Optional, the size of a replay buffer for late joiners that will receive already emmited messages -->
	</appender>

	<appender name="CRAWL_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{MM-dd HH:mm:ss.SSS} %-5level %19logger{19}[%-4line] [%-10thread] - %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="crawl" level="DEBUG" additivity="false">
		<appender-ref ref="CRAWL_STDOUT" />
		<appender-ref ref="WEBOUT" />
	</logger>

	<logger name="s2jh.biz" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="lab.s2jh" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="io.netty.channel" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>


	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration> 