<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="autoMappingBehavior" value="FULL" />
	</settings>

	<plugins>
		<plugin interceptor="com.github.loafer.mybatis.pagination.PaginationInterceptor">
			<property name="dialect" value="mysql" />
			<property name="stmtIdRegex" value="*.findPage*" />
		</plugin>
	</plugins>

</configuration>  