<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="jdbc.properties"/>
    <property resource="application.properties"/>
    <property file="/etc/entdiy/config/application.properties"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %19logger{19}[%line] - %msg %mdc %n</pattern>
        </encoder>
    </appender>

    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <!-- 建议优化调整为连接池方式 -->
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>${jdbc.driverClassName}</driverClass>
            <url>${jdbc.url}</url>
            <user>${jdbc.username}</user>
            <password>${jdbc.password}</password>
        </connectionSource>
    </appender>

    <logger name="druid.sql" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.entdiy" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DB"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DB"/>
    </root>
</configuration> 
