<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd"
       default-lazy-init="false">

    <description>Spring公共配置</description>

    <!-- 首先加载全局属性处理，以便后续相关逻辑调用判断 -->
    <bean class="com.entdiy.core.web.AppContextHolder" depends-on="propertyPlaceholderConfigurer"/>

    <!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
    <context:component-scan base-package="com.entdiy,xyz.entdiy" use-default-filters="false"
                            scoped-proxy="targetClass">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.servlet.config.annotation.EnableWebMvc"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!-- Spring Cache配置  TODO: 需要仔细考虑在集群部署模式下，滚动更新过程缓存冲突问题
    <bean id="cacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
        <constructor-arg ref="jedisConnectionFactory"/>
    </bean>
    <cache:annotation-driven cache-manager="cacheManager" key-generator="methodCacheKeyGenerator"/>
    -->

    <task:scheduler id="springScheduler" pool-size="10"/>
    <!-- 用于增强Spring @Async 注解在异步模式能捕捉到异常日志 -->
    <bean id="handlingAsyncTaskExecutor" class="com.entdiy.core.context.async.HandlingAsyncTaskExecutor"/>
    <!-- 建议只定义@Async注解使用，尽量不用@Scheduled而改用后面的Quartz方式便于文本定义调整定时策略 -->
    <task:annotation-driven executor="handlingAsyncTaskExecutor" scheduler="springScheduler"/>

</beans>