<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:repository="http://www.springframework.org/schema/data/repository"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/repository
        http://www.springframework.org/schema/data/repository/spring-repository.xsd"
       default-lazy-init="false">

    <!-- JPA Entity Manager 配置, 设置depends-on="cacheManager"，确保共享模式下优先加载Spring CacheManager -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          depends-on="hibernateAutoDdlProcessor">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="entityManager"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.entdiy.aud.envers</value>
                <value>com.entdiy.**.entity</value>
                <value>xyz.entdiy.**.entity</value>
            </list>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">${jpa.database.platform}</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.DefaultNamingStrategy</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>

                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.region_prefix">hibernate_${build.version}</prop>
                <prop key="hibernate.cache.use_structured_entries">true</prop>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="javax.persistence.sharedCache.mode">ENABLE_SELECTIVE</prop>
                <!-- Redis Cache -->
                <prop key="hibernate.cache.region.factory_class">
                    com.entdiy.core.cache.ReloadableSingletonRedisRegionFactory
                </prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">${hibernate.redis.config}</prop>

                <prop key="org.hibernate.envers.default_schema">${hibernate.envers.default.schema}</prop>
                <prop key="org.hibernate.envers.audit_table_prefix">aud_</prop>
                <prop key="org.hibernate.envers.audit_table_suffix"></prop>
                <prop key="org.hibernate.envers.do_not_audit_optimistic_locking_field">false</prop>
                <prop key="org.hibernate.envers.global_with_modified_flag">true</prop>
            </props>
        </property>
    </bean>

    <!-- JPA 事务配置 -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <!-- 使用annotation定义事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <!-- Spring Data JPA配置 -->
    <jpa:repositories base-package="com.entdiy.**.dao,xyz.entdiy.**.dao" transaction-manager-ref="transactionManager"
                      entity-manager-factory-ref="entityManagerFactory">
        <repository:exclude-filter type="regex" expression="com.entdiy.core.*"/>
    </jpa:repositories>
</beans>