<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Global">

	<sql id="propertyFiltersSQL">
		<foreach collection="propertyFilters" item="propertyFilter">
			<bind name="skipped" value="'0'" />
			<foreach collection="skipPropertyFilters.split(',')" item="skip">
				<if test="skip==propertyFilter.convertedPropertyName">
					<bind name="skipped" value="'1'" />
				</if>
			</foreach>
			<choose>
				<when test="skipped == '1'"></when>
				<when test="propertyFilter.matchType.name() == 'EQ'">
					and ${propertyFilter.convertedPropertyName} = #{propertyFilter.matchValue}
				</when>
				<when test="propertyFilter.matchType.name() == 'NE'">
					and ${propertyFilter.convertedPropertyName} != #{propertyFilter.matchValue}
				</when>
				<when test="propertyFilter.matchType.name() == 'BK'">
					and (${propertyFilter.convertedPropertyName} is null or ${propertyFilter.convertedPropertyName}=='')
				</when>
				<when test="propertyFilter.matchType.name() == 'NB'">
					and (${propertyFilter.convertedPropertyName} is not null and ${propertyFilter.convertedPropertyName}!='')
				</when>
				<when test="propertyFilter.matchType.name() == 'NU'">
					and ${propertyFilter.convertedPropertyName} is null
				</when>
				<when test="propertyFilter.matchType.name() == 'NN'">
					and ${propertyFilter.convertedPropertyName} is not null
				</when>
				<when test="propertyFilter.matchType.name() == 'CN'">
					and ${propertyFilter.convertedPropertyName} like '%${propertyFilter.matchValue}%'
				</when>
				<when test="propertyFilter.matchType.name() == 'NC'">
					and ${propertyFilter.convertedPropertyName} not like '%${propertyFilter.matchValue}%'
				</when>
				<when test="propertyFilter.matchType.name() == 'BW'">
					and ${propertyFilter.convertedPropertyName} like '${propertyFilter.matchValue}%'
				</when>
				<when test="propertyFilter.matchType.name() == 'BN'">
					and ${propertyFilter.convertedPropertyName} not like '${propertyFilter.matchValue}%'
				</when>
				<when test="propertyFilter.matchType.name() == 'EW'">
					and ${propertyFilter.convertedPropertyName} like '%${propertyFilter.matchValue}'
				</when>
				<when test="propertyFilter.matchType.name() == 'EN'">
					and ${propertyFilter.convertedPropertyName} not like '%${propertyFilter.matchValue}'
				</when>
				<when test="propertyFilter.matchType.name() == 'BT'">
					and (${propertyFilter.convertedPropertyName} &gt;= #{propertyFilter.matchValue[0]} and
					${propertyFilter.convertedPropertyName} &lt;
					#{propertyFilter.matchValue[1]})
				</when>
				<when test="propertyFilter.matchType.name() == 'GT'">
					and ${propertyFilter.convertedPropertyName} &gt; #{propertyFilter.matchValue}
				</when>
				<when test="propertyFilter.matchType.name() == 'GE'">
					and ${propertyFilter.convertedPropertyName} &gt;= #{propertyFilter.matchValue}
				</when>
				<when test="propertyFilter.matchType.name() == 'LT'">
					and ${propertyFilter.convertedPropertyName} &lt; #{propertyFilter.matchValue}
				</when>
				<when test="propertyFilter.matchType.name() == 'LE'">
					and ${propertyFilter.convertedPropertyName} &lt;= #{propertyFilter.matchValue}
				</when>
				<otherwise>
					and undefined sql process
				</otherwise>
			</choose>
		</foreach>
	</sql>
</mapper>